<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
    {{>headers}}
    <p>This site is created by {{name}}. It uses data from mapbox.com and weatherapi.com!</p>
    </div>
    {{>footers}}
</body>
</html>