<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
    {{>headers}}
    <p>My name is {{name}}</p>
    </div>
    {{>footers}}
</body>
</html>